<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-radius: 0px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">User Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" type="button" style="margin-right:20px" (click)="goHome()">Home</a>
                <a class="nav-link" type="button" style="margin-right:20px" (click)="goUsers()">Users</a>
                <a class="nav-link" type="button" style="margin-right:20px" (click)="goAbout()">About</a>
            </div>
        </div>
    </div>
</nav>