.btn-glyphicon {
    padding: 8px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 10px;
    font-size: 20px;
}

.add {
    margin-bottom: 20px
}

.serach-button {
    border-radius: 25px;
    font-size: 20px;
}